.radioProcess {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.windowDivLayer {
  z-index: 1;
}

.projectUrl {
  z-index: 1;
  min-height: 1rem;
  min-width: 28rem;
}

.textProcess {
  display: flex;
  align-items: end;
  flex-direction: column;
}

.eduText {
  margin-right: 3rem;
}

.eduTextLong {
  margin: 0.5rem 1rem 0 3rem;
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  margin: 0 1rem 1rem 0;
  font-family: "VT323", monospace !important;
}

.nameInline {
  font-size: 1.25rem;
  font-weight: 900;
}

.schoolInline {
  font-size: 1.1rem;
  font-weight: 600;
}

.listText {
  margin: 0.5rem 0;
}

.itemText {
  padding: 0.5rem 1.25rem;
}

.itemText:before {
  content: "👉";
  position: absolute;
  left: 10px;
}

.windowSpacing {
  letter-spacing: 0.1em;
  width: 100%;
}

@media screen and (max-width: 720px) {
  .windowSpacing {
    letter-spacing: 0;
  }
  .textProcess {
    flex-direction: column;
    align-items: flex-end;
  }
}

.windowHeader {
  font-size: 1.5rem;
}

.skills {
  min-width: 25rem;
}

.tableCenter {
  text-align: center;
}

.processCell {
  padding: 0.5rem 0.5rem 0 0.5rem !important;
  vertical-align: middle;
}
